/*!
 * MizUI v1.0.0 
 * Copyright MizTech
 * Licensed MikeZheng
 * http://mike-zheng.github.io/
 */

@import "vendor/font-awesome/font-awesome";
@import "vendor/hover/hover";
@import "vendor/animate/animate";
@import "vendor/bootstrap";
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700);
body {
    background-color: #ECEFF2;
    // padding: 60px 20px;
    font-family: "Source Sans Pro", "Open Sans", Lato, "Helvetica Neue", Helvetica, Arial, "PingFang TC", "PingFang SC", STHeiti, 微軟正黑體, "Microsoft Yahei", sans-serif;
    margin: 0px;
    color: #343942;
    // overflow:none;
}

.mik-container {
    // background-color: #FFF;
    // border-radius: 5px;
    // box-shadow: 4px 4px 12px 0 rgba(0, 0, 0, .3);
    //  min-width: 500px;
    // padding: 10px 20%;
    width: 100%;
    margin: 0 auto;
    @media (max-width: 768px) {
        padding: 10px 10px;
    }
}

.mik-logo {
    // position: absolute;
    // background-color: #FFF;
    // height: 50px;
    // width: 300px;
    // top: 30px;
    // margin-left: 20px;
    border-radius: 5px;
    // box-shadow: 4px 4px 12px 0 rgba(0,0,0,.3);
    text-align: initial;
    margin: 0 auto;
    width: 600px;
    @media (max-width: 768px) {
        margin-left: 20px;
        width: 100%;
    }
    h4 {
        font-size: 20px;
        // text-align: center;
        // font-weight: 600;
        line-height: 10px;
        margin: 2em 0 .2em;
        font-size: 20px;
        text-transform: uppercase;
        line-height: 1.4;
        color: #434a54;
        font-weight: bold;
    }
}

.name {
    padding-top: 10px;
    padding-left: 30px;
    padding-bottom: 30px;
    h4 {
        font-size: 20px;
        text-align: center;
        font-weight: 600;
        line-height: 10px;
        // color: #FFF;
        font-weight: bold;
    }
}

.tshirt {
    width: 100%;
    @media (min-width: 768px) {
        width: 600px;
    }
    margin: 0 auto;
    border-right: 1px solid #E8E8E8;
    // width: 600px;
    // padding-top: 100px;
    padding-bottom: 50px;
    // box-shadow: 4px 4px 12px 0 rgba(0, 0, 0, .3);
    border-radius: 5px 5px 0 0;
    background-color: #fff;
    -webkit-box-shadow: 0px 3px 0px 0px rgba(226, 228, 231, 0.75);
    -moz-box-shadow: 0px 3px 0px 0px rgba(226, 228, 231, 0.75);
    box-shadow: 0px 3px 0px 0px rgba(226, 228, 231, 0.75);
    // position: absolute;
    // top: 20px;
    // left: 20px;
    // border: 2px solid #000;
    // box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
    //  @media (max-width: 768px) {
    //     transform: scale(0.8);
    // }
}

.tshirt-container {
    margin: 0 auto;
    // border-right: 1px solid #E8E8E8;
    position: relative;
    width: 500px;
    height: 460px;
    border-radius: 2px;
    @media (max-width: 768px) {
        // width: 375px;
        // height: 345px;
        width: 250px;
        height: 230px;
    }
}

.design {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    background-image: url("../image/design.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    border-radius: 2px;
}

.shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    background-image: url("../image/shadow.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    border-radius: 2px;
}

.shape {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../image/tshirt.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    border-radius: 2px;
}

img {
    width: 100%;
}

.palette {
    height: 50px;
    @media (max-width: 768px) {
        width: 100%;
        height: 120px;
        // padding: 0 10px;
    }
    @media (min-width: 768px) {
        width: 600px;
    }
    margin: 0 auto;
    width: 100%;
    // padding: 0 10px;
    // width: 50px;
    // padding: 0 20px;
    background-color: #e3e3e3;
    border-radius: 0 0 5px 5px;
}

.color {
    @media (max-width: 768px) {
        //  display: inline-block;
        height: 60px;
        width: 60px;
    }
    margin: 0 auto;
    cursor: pointer;
    border-radius: 1px;
    // height: 50px;
    // width: 50px;
    box-shadow: 4px 4px 12px rgba(0,
    0,
    0,
    0.3);
    float: left;
    // display: inline-block;
    // display: inline-table;
    height: 40px;
    width: 40px;
    transition: transform 0.1s ease-in;
    &:hover {
        // position: absolute;
        transform: scale(1.2);
    }
}

.palette-row {
    // margin-top: 50px;
    @media (max-width: 768px) {
        display: inline-block;
        margin: 0;
        width: 360px;
    }
    display: inline-block;
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 480px;
}

.color-1 {
    background-color: #DF372C;
}

.color-2 {
    background-color: #f2ed71;
}

.color-3 {
    background-color: #303136;
}

.color-4 {
    background-color: #000;
}

.color-5 {
    background-color: #FCA459;
}

.color-6 {
    background-color: #c2e3f2;
}

.color-7 {
    background-color: #326acf;
}

.color-8 {
    background-color: #9F998D;
}

.color-9 {
    background-color: #ffbbbb;
}

.color-10 {
    background-color: #f2186c;
}

.color-11 {
    background-color: #D0D96C;
}

.color-12 {
    background-color: #322551;
}

footer {
    margin-top: 10px;
    margin-right: 10px;
    width: 80%;
    a {
        @media (min-width: 768px) {
            top: 620px;
        }
        // color: #FFF;
        position: absolute;
        top: 400px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 13px;
        font-weight: normal;
        color: #aab2bd;
    }
}
